<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309434540760-r5689jeusg3kc18252cmh605p4v4hfou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309434540760-r5689jeusg3kc18252cmh605p4v4hfou</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>309434540760-21qb8rlp19333tkopkmcjvevmoghuca8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCLkkDmn1kCBLpDFe5WiKf2_cnmBwAwHOA</string>
	<key>GCM_SENDER_ID</key>
	<string>309434540760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edushala.student</string>
	<key>PROJECT_ID</key>
	<string>edushala-c45be</string>
	<key>STORAGE_BUCKET</key>
	<string>edushala-c45be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309434540760:ios:ab38ed83d70556971cadad</string>
</dict>
</plist>